html {

    background: linear-gradient(-45deg, #ee3224, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 900px;
    background: #e5e5e5;
    border: 4px solid #2C3E50;
    margin: 20px auto;
}
h1 {
    padding: 10px;
    font-size: 21px;
    background: #2C3E50;
    margin: 0;
    color: #fff;
}
ul.list {
    list-style: none;
    margin: 20px;
    padding: 0;
}
ul.list li {
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
ul.list b {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #2980B9;
}
ul.list i, ul.list small {
    color: #888;
    font-size: 12px;
    margin-right: 10px;
}
ul.list span {
    color: #8E44AD;
}
ul.list div {
    margin: 5px 0;
    font-size: 13px;
    line-height: 1.5em;
    color: #555;
}
ul.list img {
    margin-left: 20px;
}
ul.list a {
    color: #2980B9;
}
ul.list a.del {
    color: #D35400;

}
a.del{
    display: block;
    padding: 1px 0;
    text-align: center;
    width: 60px;
    margin: 10px;
    color: #fff;
    background: #1ABC9C;
    border: 1px solid #ccc;
    text-decoration: none;
}
a.new {
    display: block;
    padding: 8px 0;
    text-align: center;
    width: 160px;
    margin: 10px;
    color: #fff;
    background: #1ABC9C;
    border: 1px solid #ccc;
    text-decoration: none;
}

form {
    margin: 20px;
}
form label {
    display: block;
    margin-top: 10px;
    color: #555;
}
input[type=text],
input[type=password],
textarea,
select {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #ddd;
    padding: 6px;
    width: 300px;
    background: #fff;
}
textarea {
    height: 100px;
}
input[type=submit] {
    padding: 10px 24px;
    margin-right: 10px;
}
ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #16A085;
}
ul.menu li {
    float: left;
    border-right: 1px solid #1ABC9C;
}
ul.menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}
ul.menu a:hover {
    background: #1ABC9C;
}
